<%- include('../includes/head.ejs') %>


<div class="container">
  <div class="row justify-content-center">
      <form id="nuevo_comentario" method="POST">
        <label for="comment">Comentario: </label>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input id="id_ticket" name="id_ticket" type="hidden" value="<%= ID %>">
        <input type="text" id="texto_comentario" name="texto_comentario" placeholder="Escribe aqui...">
        <button type="submit" class="btn btn-primary mt-3" id="enviar" name="enviar">Submit</button>
      </form>
    </div>
  </div>

<div class = 'container'>
  <br><br>
  <head>Comentarios: </head>
  <br><br>
  <% for(let Comentario of Comentarios) {%>
    <head>  <%= Comentario.Texto_Comentario %>    </head>
    
    <br>
  <% } %>
</div>

    

<%- include('../includes/foot.ejs') %>