<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">

    <div class="container-fluid" style="color: rgba(0,0,0,0.08);background: transparent;">
        <div class="row" style="background: var(--bs-red);">
            <div class="col-md-12 offset-2 offset-sm-1 offset-md-0" style="color: var(--bs-purple);background: #ff595a;">
                <h1 style="color: var(--bs-white);margin-left: 20px;">Administrar Roles y Privilegios</h1>
            </div>
        </div>
    </div>

    <div style="margin-top:30px" class="container">
        <div class="row" style="color:black;margin: 0px 25px;margin-top: 24px;">
            <div class="col" style="padding: 15px;text-align: left;border-radius: 17px;box-shadow: 0px 0px 20px rgba(143,143,143,0.5);">
                <div class="row">
                    <div class="col">
                        <h3 style="color: rgb(0,0,0);text-align: left;margin-left: 30px;margin-bottom: 20px;"> Roles Actuales </h3>
                    </div>
                </div>
                <div class="row" style="margin: 0px 30px;border-width: 2px;border-color: var(--bs-red);">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="padding: 0px;margin: 0px;margin-top: 0px;border-width: 5px;border-color: var(--bs-red);margin-left: 0px;">
                            

                            <table class = "table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col"> Rol </th>
                                    </tr> 
                                </thead>
                                <tbody id="table_privilegios">
                                    <% for (let rol of roles){ %>
                                        <% let r = (rol.Nombre_Rol).replace(/\s/g,"_"); %>
                                        <tr>
                                            <td scope="col"><div id="textinput_mod<%=r%>"> <%= rol.Nombre_Rol %></div></td>
                                            <td scope="col"> 
                                                <div id="cambios<%=r%>"> </div> 
                                                <button id='<%= "eliminar" + r%>' type="button" class="btn btn-primary btn-sm float-end " style="height: 30px;" onclick='Modificarrol("<%= r %>")'>Modificar </button>
                                                <button id='<%= "modificar" + r%>' type="button" class="btn btn-danger btn-sm float-end" style="height: 30px; margin-left:20px; margin-right:20px" onclick="eliminarol(this)">Eliminar</button>
                                            </td>
                                        </tr> 
                                    <% } %>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-top:30px" class="container">
        <div class="row" style="color:black;margin: 0px 25px;margin-top: 24px;">
            <div class="col" style="padding: 15px;text-align: left;border-radius: 17px;box-shadow: 0px 0px 20px rgba(143,143,143,0.5);">
                <div class="row">
                    <div class="col">
                        <h3 style="color: rgb(0,0,0);text-align: left;margin-left: 30px;margin-bottom: 20px;"> Administra privilegios </h3>
                    </div>
                </div>
                <div class="row" style="margin: 0px 30px;border-width: 2px;border-color: var(--bs-red);">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="padding: 0px;margin: 0px;margin-top: 0px;border-width: 5px;border-color: var(--bs-red);margin-left: 0px;">
                            <table class = "table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col"> Privilegio </th>
                                        <% for (let rol of roles){ %>
                                            <th scope="col"> <%= rol.Nombre_Rol %></th>
                                        <% } %>
                                    </tr> 
                                </thead>
                                <tbody id="table_privilegios">
                                    <% for (let privilegio of allprivilegios){ %>
                                    <tr>
                                        <td> <%= privilegio.Nombre_Privilegio %></td>
                                        <% for (let rol of roles){ %>
                                            <% let check = 0; %>
                                            <% for (let act of privilegiosact){ %>
                                                <% if(act.Id_Rol == rol.Id_Rol && act.Id_Privilegio == privilegio.Id_Privilegio){ %>
                                                    <% check = 1; %>
                                                <% }%>
                                            <% }%>
                                            <% if(check == 1){ %>
                                                <td> 
                                                    <input type="checkbox" id= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'_')+rol.Id_Rol %>" name= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'')+rol.Id_Rol %>" value= "<%= privilegio.Nombre_Privilegio %>" checked = true onchange='privilegioChange(this, "<%= privilegio.Id_Privilegio %>" ,"<%= rol.Id_Rol %>")'> 
                                                </td>
                                            <% }else{%>
                                                <td> 
                                                    <input type="checkbox" id= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'_')+rol.Id_Rol %>" name= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'')+rol.Id_Rol %>" value= " <%= privilegio.Nombre_Privilegio %>" onchange='privilegioChange(this, "<%= privilegio.Id_Privilegio %>" ,"<%= rol.Id_Rol %>")'> 
                                                </td>
                                            <% }%>
                                        <% }%>
                                    </tr>
                                    <% }%>
                                </tbody>
                            </table>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div style="margin-top:30px" class="container">
        <div class="row" style="color:black;margin: 0px 25px;margin-top: 24px;">
            <div class="col" style="padding: 15px;text-align: left;border-radius: 17px;box-shadow: 0px 0px 20px rgba(143,143,143,0.5);">
                <div class="row">
                    <div class="col">
                        <h3 style="color: rgb(0,0,0);text-align: left;margin-left: 30px;margin-bottom: 20px;"> Crear nuevo rol </h3>
                    </div>
                </div>
                <div class="row" style="margin: 0px 30px;border-width: 2px;border-color: var(--bs-red);">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="padding: 0px;margin: 0px;margin-top: 0px;border-width: 5px;border-color: var(--bs-red);margin-left: 0px;">
                            <div class="row" style="padding: 15px 0px;">
                                <div class="col">
                                    <div class="dropdown shadow">
                                        <input class="form-control" type="text" id="nuevo_rol" name="nuevo_rol" placeholder="Escribe el nombre.." required>
                                    </div>
                                    <button class="btn btn-primary" type="submit" name="enviar_rol" id="enviar_rol" style="background: rgb(0,0,0);">Crear<i class="fa fa-plus-square" style="margin-left: 20px;"></i></button>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/script_administrar_roles.js"></script>


<%- include('includes/foot.ejs') %>