<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">

    <div class="container-fluid" style="color: rgba(0,0,0,0.08);background: transparent;">
        <div class="row" style="background: var(--bs-red);">
            <div class="col-md-12 offset-2 offset-sm-1 offset-md-0" style="color: var(--bs-purple);background: #ff595a;">
                <h1 style="color: var(--bs-white);margin-left: 20px;">Administrar Roles y Privilegios</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12 offset-12 offset-sm-12 offset-lg-0 offset-xxl-0" style="margin-bottom:80px;padding:30px">
            <div class="row" style="padding: 15px 0px;">
                <div class="col-xxl-1"><label class="col-form-label text-dark">Rol</label></div>
                <div class="col">
                    <div class="dropdown shadow">
                        <select required class="form-select" id="select_rol" name="select_rol" aria-label="Default select example">
                            <option selected disabled>Elige el rol</option>
                            <% for(let rol of roles) {%>
                            <option value="<%= rol.Nombre_Rol %>"><%= rol.Nombre_Rol %></option>
                            <% }%>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="privilegio_select"></div>

</div>

<script src="/js/script_administrar_roles.js"></script>


<%- include('includes/foot.ejs') %>