<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">

    <div class="container-fluid" style="color: rgba(0,0,0,0.08);background: transparent;">
        <div class="row" style="background: var(--bs-red);">
            <div class="col-md-12 offset-2 offset-sm-1 offset-md-0" style="color: var(--bs-purple);background: #ff595a;">
                <h1 style="color: var(--bs-white);margin-left: 20px;">Administrar Roles y Privilegios</h1>
            </div>
        </div>
    </div>

    <table class = "table table-bordered">
        <thead>
            <tr>
                <th scope="col"> Privilegio </th>
                <% for (let rol of roles){ %>
                    <th scope="col"> <%= rol.Nombre_Rol %></th>
                <% } %>
            </tr> 
        </thead>
        <tbody id="table_privilegios">
            <% for (let privilegio of allprivilegios){ %>
            <tr>
                <td> <%= privilegio.Nombre_Privilegio %></td>
                <% for (let rol of roles){ %>
                    <% let check = 0; %>
                    <% for (let act of privilegiosact){ %>
                        <% console.log(act.Id_Privilegio); %>
                        <% if(act.Id_Rol == rol.Id_Rol && act.Id_Privilegio == privilegio.Id_Privilegio){ %>
                            <% check = 1; %>
                        <% }%>
                    <% }%>
                    <% if(check == 1){ %>
                        <td> 
                            <input type="checkbox" id= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'_')+rol.Id_Rol %>" name= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'')+rol.Id_Rol %>" value= "<%= privilegio.Nombre_Privilegio %>" checked = true onchange='privilegioChange(this, "<%= privilegio.Id_Privilegio %>" ,"<%= rol.Id_Rol %>")'> 
                        </td>
                    <% }else{%>
                        <td> 
                            <input type="checkbox" id= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'_')+rol.Id_Rol %>" name= "<%= (privilegio.Nombre_Privilegio).replace(/\s/g,'')+rol.Id_Rol %>" value= " <%= privilegio.Nombre_Privilegio %>" onchange='privilegioChange(this, "<%= privilegio.Id_Privilegio %>" ,"<%= rol.Id_Rol %>")'> 
                        </td>
                    <% }%>
                <% }%>
            </tr>
            <% }%>
        </tbody>
    </table>


</div>

<script src="/js/script_administrar_roles.js"></script>


<%- include('includes/foot.ejs') %>