<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/patternomaly/1.3.2/patternomaly.js" integrity="sha512-gNM40ajr/bSi3Af8i6D4dV2CUWZrkm2zhgeWf46H91zOwWoH8Wwsyf6kQ4syfNyOrnjATrjKkP4ybWD7eKp2KA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternomaly/1.3.2/patternomaly.min.js" integrity="sha512-Zjnjh2DCl/MrwdZ8FNp25vSbXac3yWUWoMn0CL8qQ/K11HGv7cJ9RGNUiojnSfqVtwbGf+eyqEEjiw2hlHd6iQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="/css/estiloMetricas.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script serc="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>


<div id="content" class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: #FF595A;">
            <div class="col-sm-5 col-md-7 col-lg-8 col-xl-9 offset-2 offset-sm-1 offset-md-0 offset-lg-0" style="color: var(--bs-purple);background: #FF595A;">
                <div></div>
                <h1 style="color: var(--bs-body-bg);margin-left: 60px;">Métricas</h1>
            </div>
            <div class="col-sm-1" style="padding-top: 10px;">
                <button type="button"  style="background-color: black;border-width:0px;" class="btn btn-primary" onclick="downloadPDF()">PDF</button>
            </div>
           
            
            <div class="col-sm-1" style="padding-top:10px;">
                 <div class="dropdown">
                    <button type="button" style="background-color: black;border-width:0px;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                      Filtros
                    </button>
                    <ul class="dropdown-menu">
                        <form class="px-4 py-3">
                            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                            <div class="form-group">
                                <label for="filtro_usuario"> Usuario</label>
                                <select class="form-select" id="filtro_usuario" name="filtro_usuario" aria-label="Default select example">
                                    <option selected value="ut.Id_Usuario" id="default"> Todos los usuarios </option>
                                    <% for (let usuario of usuarios){%>
                                        <option value="<%=usuario.Id_Usuario%>" id="usuario<%= usuario.Id_Usuario %>"> <%= usuario.Nombre_Usuario%> </option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="filtro_tipo_incidencia"> Categoría</label>
                                <select class="form-select" id="filtro_tipo_incidencia" name="filtro_tipo_incidencia" aria-label="Default select example">
                                    <option selected value="t.Id_Tipo_Incidencia" id="default"> Todas las categorias </option>
                                    <% for (let incidencia of incidencias){%>
                                        <option value="<%=incidencia.Id_Tipo_Incidencia%>" id="tipo_incidencia<%= incidencia.Id_Tipo_Incidencia %>"> <%=incidencia.Nombre_Tipo_Incidencia%> </option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="filtro_archivado"> Visibilidad</label>
                                <select class="form-select" id="filtro_archivado" name="filtro_archivado" aria-label="Default select example">
                                    <option selected value="t.Archivado" id="default"> Todos </option>
                                    <option value="0" id="default"> Activos </option>
                                    <option value="1" id="default"> Archivados </option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="fecha_inicio"> Fecha de inicio: </label>
                                <input type="date" id="fecha_inicio" name="fecha_inicio">
                            </div>
                            <div class="form-group">
                                <label for="fecha_fin"> Fecha fin: </label>
                                <input type="date" id="fecha_fin" name="fecha_fin">
                            </div>
                            <br>
                            <button id="dropdown_filter_metricas" type="button" class="btn btn-primary"> Filtrar </button>
                        </form>
                    </ul>
                </div>  
            </div>
                
        </div>
    </div>
    <div class="container">
        <div class="chartMenu">
        </div>
          <div class="chartCard">
            <div class="chartBox p-4">
                <h2 id="tituloGrafica">Status</h2>
                <h3 id="subtituloGrafica">Tickets organizados por su estado actual</h3>
              <div style="height: 80%"><canvas id="porEstados"></canvas></div>
            </div>

            <div class="chartBox p-4 offset-sm-1">
                <h2 id="tituloGrafica">Procedencia</h2>
                <h3 id="subtituloGrafica">Tickets organizados por su procedencia</h3>
                <div style="height: 80%"><canvas id="porProcedencia"></canvas></div>
               
            </div>
          </div>
          <br>
          <div class="chartCard">
            <div class="chartBoxClear">
                <h2 id="tituloGrafica" style="text-align: center; padding-top: 15px;">Por resolución</h2>
                <div style="height: 75%; width:90%; margin: 0 auto;"><canvas id="porResolucion"></canvas></div>
            </div>
          </div>
          <div class="chartCard">
            <div class="chartBoxFull">
                <h2 id="tituloGrafica" style="text-align: center; padding-top: 15px;">Tipo de Incidencia</h2>
                <h3 id="subtituloGrafica" style="text-align: center;">Tickets organizados por su tipo de incidencia</h3>
                <div style="height: 80%;"><canvas id="porTipoIncidencia"></canvas></div>
            </div>
          </div>
          <br>
          <div class="chartCard">
            <div class="chartBox p-4">
                <h2 id="tituloGrafica">Promedio de resolución</h2>
                <h3 id="subtituloGrafica">Tiempo promedio de resolución por tipo de incidencia</h3>
              <div style="height: 80%"><canvas id="promedios"></canvas></div>
            </div>
          </div>
          <br>
          <div class="chartCard">
            <div class="chartBoxFull">
                <h2 id="tituloGrafica" style="text-align: center; padding-top: 15px;">Historial de tickets completados a tiempo y fuera de tiempo</h2>
                <div style="height: 80%;"><canvas id="tiempoYDestiempo"></canvas></div>
                <h3 id="subtituloGrafica" style="text-align: center;">Semanas del año</h3>
            </div>
          </div>
          <br>
    </div>
</div>

</div>
 <script src="/js/script_reporte.js"></script>
<script src="/js/script_metricas.js"></script>

<%- include('includes/foot.ejs') %>