<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col" style="color: var(--bs-purple);background: #A2C7E2;">
                <div></div>
                <h1 style="color: var(--bs-gray-900);margin-left: 20px;font-weight: bold;">Nuevo Ticket</h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px;">
        <div class="row register-form" style="margin-left: 0px;margin-right: 0px;width: 1200px;">
            <div class="col-md-8 offset-md-2" style="margin-left: 0px;width: 550px;height: 600px;border-width: 0px;border-color: var(--bs-pink);">
                <form class="custom-form" style="width: 530px;margin: 0px;padding: 0px;height: 590px;">
                    <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 12px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;">Información General</h1>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Asunto</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input id="asunto" name="asunto" class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="email-input-field">Descripción</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input id="descripcion" name="descripcion" class="form-control" type="email" style="width: 380px;height: 200px;"></div>
                    </div>
                    <div class="row form-group">
                        <select class="form-select" id="select_prioridad" name="prioridad" aria-label="Default select example">
                            <option selected disabled>Prioridad de la incidencia:</option>
                            <% for(let prioridad of prioridades) {%>
                              <option value="<%= prioridad.Id_Prioridad %>"><%= prioridad.Nombre_Prioridad %></option>
                            <% }%>
                        </select>
                        <br>
                        <select class="form-select" id="select_procedencia" name="procedencia" aria-label="Default select example">
                            <option selected disabled>Procedencia:</option>
                            <% for(let procedencia of procedencias) {%>
                              <option value="<%= procedencia.Id_Procedencia %>"><%= procedencia.Nombre_Procedencia %></option>
                            <% }%>
                        </select>
                        <br>
                        <select required class="form-select" id="select_tipo_incidencia" name="tipo_incidencia" aria-label="Default select example">
                            <option selected disabled>Elige el tipo de incidencia</option>
                            <% for(let tipo_incidencia of tipos_incidencia) {%>
                              <option value="<%= tipo_incidencia.Id_Tipo_Incidencia %>"><%= tipo_incidencia.Nombre_Tipo_Incidencia %></option>
                            <% }%>
                        </select>
                        <br>
                        <select class="form-select-label" multiple data-live-search="true" id="select_labels" name="labels" aria-label="Default select example">
                            <option selected disabled>Labels:</option>
                            <% for(let label of labels) {%>
                              <option value="<%= label.Id_Label %>"><%= label.Id_Label %></option>
                            <% }%>
                        </select>
                    </div>
                    <div id="preguntas_ticket"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="dropdown-input-field">Tipo de Incidencia</label></div>
                        <div class="col-sm-4 input-column" style="width: 395px;">
                            <div class="dropdown"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 380px;">Seleccionar tipo de incidencia</button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                        </div>
                    </div><button id="enviar" class="btn btn-light submit-button" type="button">Siguiente</button>
                </form>
            </div>
            <div class="col-md-8 offset-md-2" style="margin-left: 20px;width: 550px;height: 600px;border-width: 0px;border-color: var(--bs-pink);">
                <form class="custom-form" style="width: 530px;margin: 0px;padding: 0px;height: 590px;">
                    <h1 style="background: #ffc61e;border-width: 0px;margin: 0px;margin-top: -1px;padding-top: 12px;margin-bottom: 30px;border-radius: 20px;padding-right: 30px;padding-left: 30px;">Información Adicional</h1>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 1</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 2</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 3</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 4</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 5</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4 label-column" style="width: 150px;"><label class="col-form-label" for="name-input-field">Pregunta 7</label></div>
                        <div class="col-sm-6 input-column" style="width: 395px;"><input class="form-control" type="text" style="width: 380px;"></div>
                    </div><button class="btn btn-light submit-button" type="button">Crear Ticket</button>
                </form>
            </div>
        </div>
    </div>
</div>
 <script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/script_nuevo_ticket.js"></script>
<%- include('includes/foot.ejs') %>