<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .modal-backdrop.show {
      opacity: 0.2;
    }
</style>
<style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    
    
    </style>
    

<div id="Ticket" style="color:black">
  <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
  <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> Asunto: <span id="asunto"></span> Ticket # <span id="id_ticket"> </span> </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

  <!-- Modal body -->
                <div class="modal-body">
                    <form id="modify_ticket" method="POST">
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>"></input>
                        <input type="hidden" name="Id_Ticket" id="Id_Ticket" value="">

                        <div class="row">
                            <div class="col-xxl-2">
                                <h6 style="text-align: left;">Tipo Incidencia</h6>
                            </div>
                            <div class="col">
                                <select class="form-select" id="select_tipo_incidencia" name="select_tipo_incidencia" aria-label="Default select example">
                                    <% for (let incidencia of incidencias){%>
                                        <option selected="false" value="<%=incidencia.Id_Tipo_Incidencia%>" id="tipo_incidencia<%= incidencia.Id_Tipo_Incidencia %>"> <%=incidencia.Nombre_Tipo_Incidencia%> </option>
                                    <%}%>
                                </select>
                            </div><div id="Usuario_Tipo"></div>
                        </div>

                        <br>
                        
                        <div class="row">       
                            <div class="col-xxl-2">
                                <h6 style="text-align: left;">Estado</h6>
                            </div>
                            <div class="col">
                                <select class="form-select" id="select_estado" name="estado" aria-label="Default select example">
                                    <% for (let estado of estados){%>
                                        <option selected="false" value="<%=estado.Id_Estado%>" id="estado<%=estado.Id_Estado%>"> <%=estado.Nombre_Estado %> </option>
                                    <%}%>
                                    <input type="hidden"name="Estado_Actual" id="Estado_Actual" value="">
                                    <div id="Usuario_Estado"></div>
                                </select>
                            </div>


                             <div class="col-xxl-2">
                                <h6 style="text-align: left;">Prioridad</h6>
                            </div>
                            <div class="col">
                                <select class="form-select" id="select_prioridad" name="prioridad" aria-label="Default select example">
                                    <% for (let prioridad of prioridades){%>
                                        <option selected="false" value="<%=prioridad.Id_Prioridad%>" id="prioridad<%= prioridad.Id_Prioridad %>"> <%=prioridad.Nombre_Prioridad %> </option>
                                    <%}%>
                                    
                                </select><div id="Usuario_Prioridad"></div>
                            </div>

                        </div>
                                
                        <br>
                        <p id="fecha_fin"></p>
                        <h6 id="label_display">Labels: </h6>

                        <h6>Descripción: </h6>
                            <p class="border-primary" id="descripcion"  style="border-radius: 18px;padding: 0px;border-right: 0px solid rgb(0,0,0);">
                            </p>
                        <br>

                        <h6>Preguntas:  </h6>
               
                            <div class="row">
                                <div class="row" id="preguntas">
                                    </div>
                                    <div class="row" id="preguntas_nuevas">
                                        </div>
                                        <input type="hidden" id="numPreguntas" name="numPreguntas" value="0">
                                    </div>
                            

                                <div class="row">


                                    <div class="col"><button type="button" class="btn btn-primary shadow-none" id="enviar"
                                            type="button"
                                            style="background: rgb(0,0,0);width: 100%;margin-top: 40px;border-width: 0px">Guardar<i
                                                class="fa fa-save" style="margin-left: 15px;"></i></button></div>
                                    <div class="col"><button class="btn btn-primary" id="boton_comentarios"
                                            type="button"
                                            style="background: rgb(0,0,0);width: 100%;margin-top: 40px;border-width: 0px">Comentarios<i
                                                class="fa fa-comments-o" style="margin-left: 15px;"></i></button></div>
                                    <div class="col">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="ver_asignacion" type="button"
                                                style="background: rgb(0,0,0);width: 100%;margin-top: 40px;border-width: 0px;"> Asignar <i
                                                    class="fa fa-archive" style="margin-left: 15px;"></i></button>
                                            <ul class="dropdown-menu">
                                                <form>
                                                    <div class="form-group" style="margin:10px">
                                                        <div id="encargado"> </div>
                                                        <select class="form-select" id="select_encargado" name="select_encargado" aria-label="Default select example">
                                                             
                                                            <% for (let usuario of usuarios){%>
                                                              
                                                                <option value="<%=usuario.Id_Usuario%>"><%=usuario.Nombre_Usuario%><%=usuario.Tickets_Activos%></option>
                                                                
                                                            <%}%>
                                                          </select><br>
                                                    </div>
                                             
                                                    <button id="asignar" style="margin-left:40px" type="button" class="btn btn-primary"> Asignar </button>
                                                  </form>
                                            </ul>
                                        </div>
                                        
                                    </div>

                                                
                                    <div class="col"><button class="btn btn-primary" id="archivar" type="button"
                                        style="background: rgb(0,0,0);width: 100%;margin-top: 40px;border-width: 0px;"> Archivar <i
                                            class="fa fa-archive" style="margin-left: 15px;"></i></button></div>
                                    
                                </div>

                                <div id="snackbar"> Datos guardados </div>


                            </form>

                        </div>

             
                            <div id="commentShow" style="display:none;" class="modal-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col">
                                            <div class="card shadow-0 border" style="background-color: #f0f2f5;margin-left:120px">
                                                <div class="card-body p-4">
                                                    <div class="form-outline mb-4">
                                                   
                                                            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>"></input>
                                                            <label for="comment">Comentario: </label>
                                                            <input id="id_ticket" name="id_ticket" type="hidden" value="">
                                                            <input type="text" id="texto_comentario" name="texto_comentario" placeholder="Escribe aqui...">
                                                        
                                                            <button onClick="submitForm()"  type="button" class="btn btn-success" id="Agregar"> Agregar Comentario </button>
                                                            
                                                            <script>
                                                                var input = document.getElementById("texto_comentario");
                                                                input.addEventListener("keyup", function(event) {
                                                                if (event.keyCode === 13) {
                                                                event.preventDefault();
                                                                document.getElementById("Agregar").click();
                                                                }
                                                                });
                                                            </script> 
                                                    
                                                                                            
                                                        </div> 
                                                        <div id="comentarios"></div>    
                                                    
                                                
                                            
                                                    </div>
                                                </div>
                                            </div>                       
                                        </div>
                                    </div>
                    
                            </div>
                        
                        </div>
        </div>
    </div>




<div class="page-content-wrapper" style="color: var(--bs-teal);">
    <div class="container-fluid" style="color: transparent;background: var(--bs-indigo);">
        <div class="row" style="background: var(--bs-red);">
            <div class="col offset-2 offset-sm-1 offset-md-0" style="color: var(--bs-purple);background: #ff595a;">
                <div class="row">
                <div class="col"> <h1 style="color: var(--bs-body-bg);margin-left: 50px;"> Panel Tickets </h1> </div>
                <div class="col-sm-2" style="margin-top:10px">
                <div class="dropdown">
                    <button type="button" style="background-color: black;border-width:0px" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                      Filtros
                    </button>
                    <ul class="dropdown-menu">
                        <form class="px-4 py-3" id="form_filtros">
                            <div class="form-group">
                                <label for="filtro_tipo_incidencia"> Tipo de Incidencia</label>
                                <select class="form-select" id="filtro_tipo_incidencia" name="filtro_tipo_incidencia" aria-label="Default select example">
                                    
                                    <% for (let incidencia of incidencias){%>
                                        <option selected="false" value="<%=incidencia.Id_Tipo_Incidencia%>" id="tipo_incidencia<%= incidencia.Id_Tipo_Incidencia %>"> <%=incidencia.Nombre_Tipo_Incidencia%> </option>
                                    <%}%>
                                    <option selected value="t.Id_Tipo_Incidencia" id="default"> Todos los Tipos de Incidencia </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="filtro_prioridad"> Prioridad </label>
                                <select class="form-select" id="filtro_prioridad" name="filtro_prioridad" aria-label="Default select example">
                                   
                                    <% for (let prioridad of prioridades){%>
                                        <option selected="false" value="<%=prioridad.Id_Prioridad%>" id="prioridad<%= prioridad.Id_Prioridad %>"> <%=prioridad.Nombre_Prioridad %> </option>
                                    <%}%>
                                    <option selected value="t.Id_Prioridad" id="default"> Todas las prioridades </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="filtro_usuario"> Usuario </label>
                                <select class="form-select" id="filtro_usuario" name="filtro_usuario" aria-label="Default select example">
                                    <% for (let usuario of usuarios){%>
                                        <option selected="false" value="<%=usuario.Id_Usuario%>" id="usuario<%= usuario.Id_Usuario %>"> <%=usuario.Nombre_Usuario%> </option>
                                    <%}%>
                                    <option selected value="u.Id_Usuario" id="default"> Todos los usuarios </option>
                                </select>
                                
                            </div>
                            <div class="form-group">
                                <label for="filtro_estado"> Estados </label>
                                <select class="form-select" id="filtro_estado" name="filtro_estado" aria-label="Default select example">
                                    <% for (let estado of estados){%>
                                        <option selected="false" value="<%=estado.Id_Estado%>" id="estado<%= estado.Id_Estado %>"> <%=estado.Nombre_Estado%> </option>
                                    <%}%>
                                    <option selected value="t.Id_Estado" id="default"> Todos los estados </option>
                                </select>
                                
                            </div>
                            <br>
                            <button id="reset_filtros" type="button" class="btn btn-danger"> Borrar filtros </button>
                            <button id="dropdown_filter" type="button" class="btn btn-primary"> Filtrar </button>
                          </form>
                    </ul>
                </div>
                <div style="display:none"> <input type="number" id="Bool" value="1">  
                </div>
                    </div>
            </div>
        </div>
    </div>
</div>


    
<div class="container">
    <div class="row"  style="margin-top: 30px;color:black">
        <div class="col" id="Sin_Asignar">
            <div class="row text-center">
                <span class="badge" style="margin-left:auto;margin-right:auto;width:70%;font-size: 23px;text-align: center;background: grey">Sin Asignar</span>
            </div>
            <div class="row">
                <div class="col" id="sin_asignar_col">
                <%for (let ticketa of sinasignar){%>
                    <%if ( ticketa.Id_Estado == 1){%>
                        <div  onClick="openTicket(this)" data-bs-toggle="modal" data-bs-target="#myModal"
                                id="boton<%= ticketa.Id_Ticket %>" class="col" style="cursor:pointer;margin-bottom:20px;">
                                <div class="card h-100"
                                    style="overflow: hidden;margin-top:10px;margin-bottom:-10px;box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                                    <div class="card-body" style="text-align: left;width: 262px;overflow: hidden;">
                                        <h4 class="card-title"
                                        style="overflow: hidden;color: rgb(0,0,0);text-align: left;"> #<%= ticketa.Id_Ticket %>: <%= ticketa.Asunto.substring(0, 20)%>...
                                        </h4>
                                        <h6 class="text-muted card-subtitle mb-2"
                                            style="overflow: hidden;color: rgb(0,0,0);">
                                            <%= ticketa.Descripcion.substring(0, 20)%>...
                                        </h6> 
                                        
                                        <i class="fa fa-circle"
                                        style="<%= ticketa.Id_Estado == 1 ? 'color: grey' : ticketa.Id_Estado == 4 ? 'color: red' :  ticketa.Id_Estado == 6 ? 'color: green' : 'color:yellow' %>" ></i>
                                    
                                            <span
                                            style="overflow: hidden;margin-left: 10px;color: rgb(136,136,136);">Creado 
                                            <%= (ticketa.Fecha_Inicio.toString()).substring(4, 21) %></span>
                                            
                                            <!-- <img class="rounded-circle"
                                            style="width: 35px;height: 35px;margin-left: 15px;"
                                            src="/img/WhatsApp%20Image%202021-12-02%20at%206.30.57%20AM.jpeg"> -->
                                    </div>
                                </div>
                            </div>
                    <%}%>
                <%}%>
            </div>
            </div>
            </div>    
        

        <div class="col" id="Progreso">
            <div class="row text-center">
                <span class="badge bg-warning" style="margin-left:auto;margin-right:auto;width:70%;font-size: 23px;text-align: center;background: yellow;">Progreso</span>
            </div>
            <div class="row">
                <div class="col" id="progreso_col">
                <%for (let ticket of tickets){%>
                    <%if (ticket.Id_Estado != 1 && ticket.Id_Estado != 4 && ticket.Id_Estado != 6){%>
                        <div  onClick="openTicket(this)" data-bs-toggle="modal" data-bs-target="#myModal"
                                id="boton<%= ticket.Id_Ticket %>" class="col" style="cursor:pointer;margin-bottom:20px;">
                                <div class="card h-100"
                                    style="overflow: hidden;margin-top:10px;margin-bottom:-10px;box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                                    <div class="card-body" style="text-align: left;width: 262px;overflow: hidden;">
                                        <h4 class="card-title"
                                        style="overflow: hidden;color: rgb(0,0,0);text-align: left;"> #<%= ticket.Id_Ticket %>: <%= ticket.Asunto.substring(0, 20)%>...
                                        </h4>
                                        <h6 class="text-muted card-subtitle mb-2"
                                            style="overflow: hidden;color: rgb(0,0,0);">
                                            <%= ticket.Descripcion.substring(0, 20)%>...
                                        </h6> 
                                        
                                        <i class="fa fa-circle"
                                        style="<%= ticket.Id_Estado == 1 ? 'color: grey' : ticket.Id_Estado == 4 ? 'color: red' :  ticket.Id_Estado == 6 ? 'color: green' : 'color:yellow' %>" ></i>
                                    
                                            <span
                                            style="overflow: hidden;margin-left: 10px;color: rgb(136,136,136);">Creado 
                                            <%= (ticket.Fecha_Inicio.toString()).substring(4, 21) %></span>
                                            
                                            <!-- <img class="rounded-circle"
                                            style="width: 35px;height: 35px;margin-left: 15px;"
                                            src="/img/WhatsApp%20Image%202021-12-02%20at%206.30.57%20AM.jpeg"> -->
                                    </div>
                                </div>
                            </div>
                    <%}%>
                <%}%>
            </div>
            </div>
        </div>

        <div class="col" id="Bloqueado">
            <div class="row text-center">
                <span class="badge " style="margin-left:auto;margin-right:auto;width:70%;font-size: 23px;text-align: center;background: red"> Cancelado </span>
            </div>
            <div class="row">
                <div class="col" id="bloqueado_col">
                <%for (let ticket of tickets){%>
                    <%if (ticket.Id_Estado == 4){%>
                        <div  onClick="openTicket(this)" data-bs-toggle="modal" data-bs-target="#myModal"
                                id="boton<%= ticket.Id_Ticket %>" class="col" style="cursor:pointer;margin-bottom:20px;">
                                <div class="card h-100"
                                    style="overflow: hidden;margin-top:10px;margin-bottom:-10px;box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                                    <div class="card-body" style="text-align: left;width: 262px;overflow: hidden;">
                                        <h4 class="card-title"
                                        style="overflow: hidden;color: rgb(0,0,0);text-align: left;"> #<%= ticket.Id_Ticket %>: <%= ticket.Asunto.substring(0, 20)%>...
                                        </h4>
                                        <h6 class="text-muted card-subtitle mb-2"
                                            style="overflow: hidden;color: rgb(0,0,0);">
                                            <%= ticket.Descripcion.substring(0, 20)%>...
                                        </h6> 
                                        
                                        <i class="fa fa-circle"
                                        style="<%= ticket.Id_Estado == 1 ? 'color: grey' : ticket.Id_Estado == 4 ? 'color: red' :  ticket.Id_Estado == 6 ? 'color: green' : 'color:yellow' %>" ></i>
                                    
                                            <span
                                            style="overflow: hidden;margin-left: 10px;color: rgb(136,136,136);">Creado 
                                            <%= (ticket.Fecha_Inicio.toString()).substring(4, 21) %></span>
                                            
                                            <!-- <img class="rounded-circle"
                                            style="width: 35px;height: 35px;margin-left: 15px;"
                                            src="/img/WhatsApp%20Image%202021-12-02%20at%206.30.57%20AM.jpeg"> -->
                                    </div>
                                </div>
                            </div>
                    <%}%>
                <%}%>
            </div>
            </div>
        </div>

        <div class="col" id="Completo">
            <div class="row text-center">
                <span class="badge bg-success " style="margin-left:auto;margin-right:auto;width:70%;font-size: 23px;text-align: center;background: #827f77;--bs-primary: #827f77;--bs-primary-rgb: 130,127,119;">Completo</span>
            </div>
            <div class="row">    
                <div class="col" id="completo_col">
                <%for (let ticket of tickets){%>
                    <%if (ticket.Id_Estado == 6){%>
                        <div  onClick="openTicket(this)" data-bs-toggle="modal" data-bs-target="#myModal"
                        id="boton<%= ticket.Id_Ticket %>" class="col" style="cursor:pointer;margin-bottom:20px;">
                        <div class="card h-100"
                            style="overflow: hidden;margin-top:10px;margin-bottom:-10px;box-shadow: 1px 4px 8px rgba(0,0,0,0.46);">
                            <div class="card-body" style="text-align: left;width: 262px;overflow: hidden;">
                                <h4 class="card-title"
                                style="overflow: hidden;color: rgb(0,0,0);text-align: left;"> #<%= ticket.Id_Ticket %>: <%= ticket.Asunto.substring(0, 20)%>...
                                </h4>
                                <h6 class="text-muted card-subtitle mb-2"
                                    style="overflow: hidden;color: rgb(0,0,0);">
                                    <%= ticket.Descripcion.substring(0, 20)%>...
                                </h6> 
                                
                                <i class="fa fa-circle"
                                    style="<%= ticket.Id_Estado == 1 ? 'color: grey' : ticket.Id_Estado == 4 ? 'color: red' :  ticket.Id_Estado == 6 ? 'color: green' : 'color:yellow' %>" ></i>
                                
                                    <span
                                    style="overflow: hidden;margin-left: 10px;color: rgb(136,136,136);">Creado 
                                    <%= (ticket.Fecha_Inicio.toString()).substring(4, 21)  %></span>
                                    
                                    <!-- <img class="rounded-circle"
                                    style="width: 35px;height: 35px;margin-left: 15px;"
                                    src="/img/WhatsApp%20Image%202021-12-02%20at%206.30.57%20AM.jpeg"> -->
                            </div>
                        </div>
                    </div>   
                    <%}%>
                <%}%>
            </div>
            </div>
        </div> 

        
            <br>
    </div>

</div>
</div>
<script src="/js/script_popup_ticket.js"></script>
<script src="/js/script_filtros.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<%- include('includes/foot.ejs') %>