<%- include('includes/header.ejs') %>
    <%- include('includes/sidebar.ejs') %>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Visibilidad</th>
                </tr>
            </thead>
            <tbody>
                <% for(let privilegio of privilegios) { %>
                    <tr>
                        <td>
                            <%= privilegio.Id_Privilegio %>
                        </td>
                        <td>
                            <%= privilegio.Nombre_Privilegio %>
                        </td>
                        <td>
                            <% if(privilegio.Visibilidad_Privilegio[0]==1){%>
                            TRUE
                            <% } else {%>
                            FALSE
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <%- include('includes/foot.ejs') %>