<%- include('includes/header.ejs') %>
    <%- include('includes/sidebar.ejs') %>
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                <% for(let rol of roles) { %>
                    <tr>
                        <td>
                            <%= rol.Id_Rol %>
                        </td>
                        <td>
                            <%= rol.Nombre_Rol %>
                            <% let id_boton = rol.Id_Rol + "_btn" %>
                            <button type="button" class="btn float-end"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg></button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="row" style="padding: 15px 0px;">
                <div class="col-xxl-4"><label class="col-form-label text-dark">Nombre Nuevo Rol:</label></div>
                <div class="col"><input id="Nuevo_Nombre" name="Nuevo_Nombre" class="form-control" type="text"></div>
                <div class="col"><button id="agrega_rol" type="submit" class="btn btn-success"> Agregar </button></div>
        </form>

        <%- include('includes/foot.ejs') %>