<%- include('../includes/head.ejs') %>

<div class = "container">
    <head>TIPO INCIDENCIA</head>
    <br><br>
    <% for(let Tipo_Incidencia of Tipo_Incidencias) {%>
        <br>
        <head> ID:<%= Tipo_Incidencia.Id_Tipo_Incidencia %>    <%= Tipo_Incidencia.Nombre %>    </head>
        <br>
    <% } %>
</div> <br><br>

<div class="container">
    <head>CREAR NUEVO TIPO DE INCIDENCIA</head> <br><br>
    <form id="nuevo_tipo_incidencia" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
        
        <% cont = 0 %>
        <% for(let pregunta of Preguntas) {%>
            <input type="hidden" name="Preguntas<%=cont%>" id="Preguntas<%=cont%>" value=<%= pregunta.Texto_Pregunta %>></input>
            <% cont++ %>
        <% } %>
        <input type="hidden" name="contador_preguntas" id="contador_preguntas" value=<%= cont-1 %>> </input>

        <input type="text" id="nombre_tipo_incidencia" name="nombre_tipo_incidencia" placeholder="Escribe aqui...">
        <br><br>
        <input type="number" id="sla_tipo_incidencia" name="sla_tipo_incidencia">
        <br><br>
        <input type="hidden" name="contador_nuevas" id="contador_nuevas" value=0></input>
        <head> Preguntas de la incidencia</head> <br>
        <div id="add_pregunta"></div>
        <br><button onclick="getdb(Preguntas)" type="button" id="Nueva_Pregunta" name="Nueva_Pregunta"> Nueva Pregunta</button> <br><br>
        <button type="submit" class="btn btn-primary mt-3" id="enviar" name="enviar">Submit</button>
    </form>
    <br><br>
</div>


<div class="container" id="">


</div>



<script src="/js/script_pregunta_tipo_incidencia.js"></script>
<%- include('../includes/foot.ejs') %>